@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'ClassiqueSaigon';
  scr: url('/fonts/ClassiqueSaigon.woff2') format('woff2'),
    url('/fonts/ClassiqueSaigon.woff') format('woff'),
    url('/fonts/ClassiqueSaigon.otf') format('opentype'),
    url('/fonts/ClassiqueSaigon.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-60 {
  width: 60%;
}

.hero-text {
  font-size: 3rem;
  color: #2b2b2b;
}
.footer {
  background-color: #4e603e;
  color: #e6d3bc;
}

.bg-culture {
  background-color: #f8f6f1;
}

.h-130 {
  height: 130px;
}

.font-classique-saigon {
  font-family: 'ClassiqueSaigon';
}

.color-primary {
  color: #4e603e;
}

.color-d-sienna {
  color: #3c1d0f;
}

.color-seal-brown {
  color: #662c0a;
}
.color-white {
  color: #fdfeff;
}

.color-copper-red {
  color: #be7655;
}

.font-weight-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-weight-900 {
  font-weight: 900;
}

.button-primary {
  background-color: #4e603e;
  color: #fff;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.button-secondary {
  color: #4e603e !important;
  border: 1px solid #4e603e !important;
  background-color: #fff !important;
  border-radius: 5px !important;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.dashed-bottom {
  border-bottom: 1px dashed #662c0af4;
}

.mh-80 {
  min-height: 80px;
}
.menu-bg {
  background-image: url('/assets/Kaunomenu.png');
  background-repeat: no-repeat;
  background-size: 20vh;
}

.bg-about-us {
  background-image: url('/assets/Hero-about-us.png');
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
  background-color: #f8f6f1;
  background-image: url('/assets/HeroWebsite.png');
  background-repeat: no-repeat;
}

.about-text {
  font-size: 1.125rem;
}

.bg-about {
  background-image: url('/assets/about.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .hero {
    background-image: url('/assets/HeroMobile.png');
    background-size: cover;
  }
  .hero-text {
    font-size: 2rem;
  }
}
