.navbar-nav .nav-link.active {
  color: #4e603e !important;
}

.px-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.px-7 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

@media only screen and (max-width: 767px) {
  .px-6 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
